#seek-slider {
    width: 75%;
    margin-top: 5px;
}


#slider-value {
    margin-top: 20px;
}
html {
    /* border:1px solid red; */

}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.play-pause-btn {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    /* Change color as needed */
}

.video-class {
    display: flex;
    flex: auto;
    /* align-items: left; */
    width: 75%;
    /* padding: 0px;
    margin: 10px; */
    margin: 10px;
    margin: 20px;
    box-shadow: 1px 1px 10px #000000;

}

#file-list-cont {
    width: 75%;
    /* Set the width of the container */
}

#file-list {
    display: block;
    min-width: 75%;
    /* aspect-ratio: 16/9; */

    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(60, 45, 74, 0.821);
    box-shadow: 1px 1px 10px #000000;
    border: 1px solid;
    border-radius: 10px;
    /* color: aqua; */

}

.file-list-item {

    padding: 7px;
    margin-left: 8px;
    text-shadow: 5px;
    color: aliceblue;
    border-bottom: 1px solid rgba(124, 105, 141, 0.547);
    font-size: 20px;
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) {
    .file-list-item {
        margin-left: 35px;
        /* Change margin for devices with a maximum width of 767 pixels */
        padding-bottom: 15px;
        padding-top: 15px;
    }

    #file-list {
        min-width: 90%;
    }
}

.file-list-item a {
    color: rgba(255, 255, 255, 0.943);
    text-decoration: none;
    text-overflow: ellipsis;

}

/* file-list > * */

.main {
    display: flex;
    flex: 1 1 1;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(84, 63, 104);
    width: 100%;
    box-shadow: 1px 1px 10px #000000;

}

.main>* {

    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: #22022e9f;
    /* Replace #ff0000 with the color of your choice */
} 

.trackfield {
    margin: 15px;
    font-size: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.556);
    border-radius: 5px;
    width: 50%;
    padding: 5px 20px 5px;
    box-shadow: 1px 1px 10px #000000;
}
.trackfield> *{
    padding:5px;
}
.trackfield-remote {
    margin: 15px;
    font-size: 25px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.556);
    border-radius: 5px;
    width: 80%;
    padding: 5px 20px 5px;
    box-shadow: 1px 1px 10px #000000;
}
.trackfield-remote> *{
    padding:5px;
}
.trackfield> :first-child {
    border-bottom: #a857eba8 solid 1px;
}
#audio-cycle-button{
    display:none;
}
/* #triggerButton {
    display:block;
} */

/* audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
} */


#video::-webkit-media-controls-timeline {
    display: none;
}


button {
    /* Basic button styles */
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* Default button colors */
    background-color: rgba(42, 30, 54, 0.563);
    ;
    /* Green background */
    color: white;
    /* White text */
    border: 1px solid rgba(0, 0, 0, 0.412);
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    /* Adds a box shadow for a 3D effect */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#buttonsRemote> *{
    padding:30px  60px;
    margin: 15px 30px;
    font-size: 30px;
}



#seek-slider-remote {
    /* Removes default styles */
    -webkit-appearance: none;
    appearance: none;
    /* Width and height of the slider */
    width: 90%;
    margin: 15px;
    height: 50px;
    background-color: rgb(71, 49, 92);
    border: 1px solid  rgb(46, 31, 59);
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}


  
/* Change the color of the thumb (slider handle) */
#seek-slider-remote::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling for thumb in WebKit browsers */
    background: #ffffff;
    height: 20px;
    width: 50px;
    border: 1px solid #4caf50;
    border-radius: 50%;
    height: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
  
